* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wallpaper {
    margin-top: 200px;
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
}
.logo {
    font-size: 30px;
    background-color: orange;
    padding: 12px;
    border-radius: 10px;

    /* flex-direction: column; */
    /* align-content: center; */
    
    width: fit-content;
}
.entry_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.entry_block > * {
    font-size: 18px;
    margin-bottom: 18px;
    width: 180px;
}
.buttons {
    display: flex;
    justify-content: center;
}
.button1 {
    font-size: 18px;
    margin-right: 15px;
    width: 85px;
}
.button2 {
    font-size: 18px;
    margin-left: 15px;
    width: 170px;
}


h1 {
    display: grid;
    justify-content: center;
    align-content: center;
}
.element {
    display: none;
    background-color: plum;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Зсув на 50px від центру */
}
