* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#title_walpaper {
    border: solid red;
    height: 105px;
}
#content_walpaper {
    display: flex;
    flex-direction: row;
    border: solid red;
    height: calc(100vh - 160px);
    min-height: calc(400px + 30px);
    /* display: flex;
    flex-direction: row;
    border: solid;
    margin: 15px;
    margin-top: 10px;
    height: calc(100vh - 130px); */
}
#state_walpaper {
    display: flex;
    border: solid red;
    position: absolute;
    width: 100%;
    height: 55px;
    bottom: 0;
}


#general_bar {
    border: solid orange;
    margin: 15px;
    margin-bottom: 0px;
    height: 50px;
    border-radius: 5px;
}
#work_bar {
    /* display: block; */
    border: solid orange;
    margin-left: 30px;
    margin-right: 30px;
    height: 40px;
    border-radius: 5px;
}

#content_walpaper > * {
    /* border: solid; */
    margin-top: 15px;
    margin-bottom: 15px;
}
#menu {
    border: solid orange;
    margin-left: 30px;
    margin-right: 8px;
    width: 250px;
    height: 400px;
}
#descrip {
    border: solid orange;
    margin-left: 8px;
    margin-right: 30px;
    width: 100%;
}

#state_bar {
    border: solid orange;
    margin: 10px;
    height: auto;
    width: 100%;
}